body {
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 10px 5%;
	background-color: #333;
	width: 100%;
	min-width: 528px;
	box-sizing: border-box;
}

li {
	display: inline;
}

li a {
	color: white;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
	cursor: pointer;
}

.active, .active:hover {
	background-color: #04AA6D;
}

header {
	text-align: center;
	color: #111;
	background-color: #999999;
	height: auto;
	margin: 0;
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
}

h1 {
	margin: 0;
}

h2 {
	clear: right;
}

button:hover {
	cursor: pointer;
}


.cal {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.cal-col {
	width: 100%;
	border-right: 1px #333 solid;
}

.cal-col:last-child {
	border: none;
}

.cal-col label {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.day {
	display: flex;
	flex-direcion: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.period {
	display: block;
	width: 100%;
	border-right: 1px #333 solid;
}

.period:last-child {
	border: none;
}

.searchbar {
	width: 100%;
	padding: 8px 5%;
	border-radius: 0;
	box-sizing: border-box;
}

.new-btn {
	display: inline-block;
	float: right;
	color: #111;
	margin: 0 5%;
}

.new-btn:hover {
	cursor: pointer;
	text-decoration: underline;
}

.row {
	padding: 7px 5%;
	border: black solid 1px;
	background-color: #EEEEEE;
}

.row:hover {
	background-color: #E0E0E0;
	cursor: pointer;
}

.arrow {
	float: right;
}

.clearfix {
	overflow: auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000040;
	justify-content: center;
	align-itens: center;
	overflow: auto;
	padding: 20px;
}

.modal-content {
	position: relative;
	width: 200px;
	background-color: white;
	margin: auto;
	border: black solid 1px;
	border-radius: 20px;
	padding: 20px;
}

.close-btn {
	font-size: 2em;
	display: inline-block;
	height: auto;
  	float: right;
}

.close-btn:hover {
	  font-weight: bold;
	  color: black;
	  cursor: pointer;
}