.email-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    align-items: end;
    gap: 10px;

	position: relative;
    margin: 0 20px;
	padding: 10px 5%;
	overflow: hidden;

	background-color: #fff;
    color: #111;
    box-sizing: border-box;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    
}

.col5 {
    display: block;
    grid-column: span 5;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.col5 > div {
    display: none;
    padding: 15px;
    background-color: #eee;
    text-align: left;
    margin: 5px 0;
}

.col5:hover {
 	cursor: pointer;
}

input, select {
 	max-height: fit-content;
}

.pending-email {
    background-color: rgb(33,150,243,0.2);
}

.sent-email {
    background-color: rgb(4,170,10,0.2)
}

.group-count {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.table-container {
    width: 100%;
}