.event {
    background: #EEEEEE;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

.event-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.input-container {
    display: none;
    gap: 5px;
    align-items: center;
}

input {
    width: 75px;
    font-size: 16px;
}

label {
    font-size: 16px;
}