.login-window {
	width: 250px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px 15px;
	text-align: center;
	background-color: #eeeeee;
}

.login-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	margin-top: 45px;
}