.letter-size {
	width: 11in;
	height: 8.5in;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 1in;
	box-sizing: border-box;
}

.flex-row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
}

#dpr > h3 {
	text-align: center;
	width: 100%;
}