.widget {
    position: absolute;
    display: flex;
    left: calc(100% + 20px);
    bottom: 31px;
    flex-direction: column;
    height: 0px;
    width: min-content;
}

.widget-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.widget-options {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: min-content;
    gap: 5px;
}

.edit-el {
    display: flex;
    background-color: #EEEEEE;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#level-widget {
    position: relative;
}

.subtitle {
    color: gray;
    font-size: 10pt;
    font-style: italic;
    text-align: left;
}

#class-proposal {
    max-width: 400px;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    padding: 5px;
    border-radius: 5px;
    box-sizing:border-box;
}

input[type="checkbox"] {
    display: inline;
    width: auto;
}