.dropdown-row {
	display: flex;
    text-align: left;
    width: 100%;
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #a7a7a7;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	height: 45px;
}

table > tr:first-child {
    background-color: #405B79;
    color: white;
}

table > tr > td,
table >  tr > th {
	padding: 5px 10px;
	text-align: left;
}

table > tr:nth-child(even) {
	background-color: #eeeeee;
}

table > tr:nth-child(odd):not(:first-child) {
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	background-color: #e3e3e3;
}

.main-content {
	margin-top: 10px;
	justify-content: normal;
	gap: 5px;
}

.admin-row {
	display: flex;
	flex-direction: row;
}

.ddrow-header {
	font-weight: bold;
}

.vertical-separator {
	width: 1px;
    height: 100%;
    margin: auto 0;
    background-color: #999999;
    display: inline-block;
}