.modal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000040;
	justify-content: center;
	align-items: center;
	overflow: auto;
	box-sizing: border-box;
	max-height: 100%;
	overscroll-behavior: contain;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-width: 250px;
	width: fit-content;
	max-width: 500px;
	background-color: white;
	margin: auto;
	border: black solid 1px;
	border-radius: 20px;
	padding: 20px;
}

.modal-content > form,
.modal-content .sub-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.modal-content > form > *,
.modal-content .sub-form > *,
.modal-content button {
	width: 100%;
	box-sizing: border-box;
}

.modal-content button,
.modal-content > form input,
.modal-content > form > select,
.modal-content > .delete,
.modal-content > p {
	height: 2em;
	padding: 0 5px;
	font-size: 1em;
}

.modal-content > form > textarea {
	field-sizing: content;
	min-height: 4em;
	padding: 5px;
	font-size: 1em;
}

.modal-content input[type="checkbox"] {
	height: 1em;
}

.modal-content .bigdd {
	height: 6em;
}

.modal-content > h3 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

.modal-content > .delete:hover {
	background-color: #a90000;
	text-decoration: underline;
}

.flex-cols {
	display: flex;
	gap: 20px;
}