.modal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000040;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding: 20px;
}

.modal-content {
	position: relative;
	min-width: 250px;
	width: fit-content;
	background-color: white;
	margin: auto;
	border: black solid 1px;
	border-radius: 20px;
	padding: 20px;
}

.modal-center {
	margin: 0 10% 15px;
}