.modal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000040;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding: 20px;
}

.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-width: 250px;
	width: fit-content;
	background-color: white;
	margin: auto;
	border: black solid 1px;
	border-radius: 20px;
	padding: 20px;
}

.modal-content > form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-content > form > * {
	width: 100%;
	box-sizing: border-box;
}

.modal-content > form > button,
.modal-content > form > input,
.modal-content > p {
	padding: 0 5px;
	font-size: 1em;
	height: 30px;
}

.modal-content > h3 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}