input[type="checkbox"] {
	display: none !important;
}

.print-page {
  break-before: page;
  page-break-before: always;
}

.print-page:last-child {
  break-before: auto;
  page-break-before: auto;
}

.no-print {
  display: none !important;
}

html, body {
  margin: 0;
  padding: 0;
}