.rating {
  direction: rtl;
  display: inline-flex;
  font-size: 2rem;
  gap: 10px;
  width: fit-content;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  color: #ccc;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
  -webkit-text-stroke: 2px gold;
}

.rating input:checked ~ label {
  color: gold;
  -webkit-text-stroke: 1px #333;
}

.star-grid {
	display: flex;
	flex-direction: column;
}

.rating-widget {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  margin: 0 5%;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.center-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0 10%;
}