.row-titles {
	display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    white-space: nowrap;
}

.row-title {
	font-weight: bold;
	font-size: 16px;
	padding-right: 100px;
}

.row-subtitle {
	font-size: 16px;
	padding-right: 100px;
}

.row, .static-row {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 7px 5%;
	border: #CCCCCC solid 1px;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
	gap: 0 20px;
	flex-wrap: wrap;
}

.row:hover {
	background-color: #E0E0E0;
	border: #BBBBBB solid 1px;
	cursor: pointer;
}

#list > *:nth-child(odd),
#list-no-hover > *:nth-child(odd) {
	background-color: color-mix(in srgb, #EEEEEE 90%, #01ab6d);
}

#list > *:nth-child(even),
#list-no-hover > *:nth-child(even) {
	background-color: #EEEEEE;
}

#list > *:hover {
	cursor: pointer;
}

#list > *:nth-child(odd):hover {
	background-color: color-mix(in srgb, color-mix(in srgb, #EEEEEE 90%, #01ab6d) 90%, black);
}

#list > *:nth-child(even):hover {
	background-color: color-mix(in srgb, #EEEEEE 90%, black);
}

.row-arrow {
	width: fit-content;
	white-space: nowrap;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
}

.row-dd {
	flex-basis: 100%;
	background-color: #eeeeee;
	box-sizing: border-box;
	padding: 5px;
	display: none;
	margin: 5px 0;
}