.row-titles {
	display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    white-space: nowrap;
}

.row-title {
	font-weight: bold;
	font-size: 16px;
	padding-right: 100px;
}

.row-subtitle {
	font-size: 16px;
	padding-right: 100px;
	white-space: normal;
	width: 100%;
}

.row, .static-row {
	display: flex;
	flex-direction: row;
	position: relative;
	padding: 10px 5%;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
	gap: 0 20px;
	flex-wrap: wrap;
	background-color: #fff;
    color: #111;
    box-sizing: border-box;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
}

.row:hover {
	background-color: #f1f1f1;
	border: 1px inset gray;
	cursor: pointer;
}

.row:has(> .row-delete-button):hover .row-delete-button {
	visibility: visible;
}

#list > *:nth-child(odd),
#list-no-hover > *:nth-child(odd) {
	background-color: color-mix(in srgb, #fff 90%, #405B79);
}

#list > *:nth-child(even),
#list-no-hover > *:nth-child(even) {
	background-color: #fff;
}

#list > *:hover {
	cursor: pointer;
}

#list > *:nth-child(odd):hover {
	background-color: color-mix(in srgb, color-mix(in srgb, #fff 90%, #405B79) 90%, black);
}

#list > *:nth-child(even):hover {
	background-color: color-mix(in srgb, #fff 90%, black);
}

.row-arrow {
	width: fit-content;
	white-space: nowrap;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: auto;
}

.row-dd {
	flex-basis: 100%;
	background-color: #eeeeee;
	box-sizing: border-box;
	padding: 20px 5px;
	display: none;
	margin: 5px 0;
	gap: 10px;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.row-dd > div {
	flex-basis: 30%;
}

.row-delete-button {
  	border: none;
  	background: transparent;
  	color: #888;
  	font-size: 2rem;
  	line-height: 1;
  	cursor: pointer;
  	visibility: hidden;
  	width: 25px;
  	padding-right: 5%;
}

.row-delete-button:hover {
	color: #333;
}