/*key*/

.key {
	width: auto;
	margin: auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #dcdddc;
	padding: 10px 5%;
}

.key-item {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border: none;
	box-sizing: border-box;
	background-color: transparent;
	padding: 0;
}

.key-item:hover {
	cursor: pointer;
}

.color-select {
	border: none;
	padding: 0;
	cursor: pointer;
	margin: 0;
	width: 25px;
}

.key-label {
	text-align: right;
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.spacer {
	flex: 100%;
	height: 5px;
}

/*schedule*/
.schedule {
	display: grid;
	gap: .17vh;
	grid-template-columns: max-content repeat(20, 1fr);
	position: fixed;
	justify-content: space-between;
	margin: 0;
	background-color: #333;
	padding: 1px;
	width: -webkit-fill-available;
	max-height: -webkit-fill-available;
	overflow: scroll;
	border: #333 solid 1px;
	align-content: start;
}

.schedule * {
	background-color: #F8F8F8;
	padding: 5px;
	box-sizing: border-box;
	width: 100%;
}

.header {
	min-height: 30px;
	min-width: 150px;
}

.day {
	grid-column: span 5;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border-right: 2px solid #333;
}

.period {
	font-size: 12px;
	text-align: center;
}

.room {
	display: flex;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 0;
    z-index: 1;
    max-width: 250px;
}

.event {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-size: 14px;
	max-height: 150px;
	text-align: center;
}

.event:hover {
	cursor: pointer;
	background-color: color-mix(in srgb, #F8F8F8 90%, black);
}

.sched-row1 {
	border-bottom: 2px solid #333;
}

.sched-col1 {
	border-right: 2px solid #333;
}

.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: min-content;
}

.year-select {
  	width: fit-content;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: auto 15px;
    padding: 0 5px;
}

#print-schedule {
	position: relative;
	float: right;
	text-align: right;
	font-size: 32px;
	padding: 2px 5px;
	cursor: pointer;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
}

#print-schedule:hover {
	background-color: #BEBEBE;
}

.print-key {
	aspect-ratio: 1/1;
	width: 140px;
	white-space: normal;
	border: 1px solid black;
	margin: 0 5px;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
}

.print-key-container {
	margin: 25px 5%;
	justify-content: space-between;
}

h1 {
	margin: 0;
}