.key {
	width: auto;
	margin: auto 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #dcdddc;
	padding: 10px;
}

.key-item {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	border: none;
	box-sizing: border-box;
	background-color: transparent;
	padding: 0;
}

.key-item:hover {
	cursor: pointer;
}

.color-select {
	border: none;
	padding: 0;
	cursor: pointer;
	margin: 0;
	width: 25px;
}

.key-label {
	text-align: right;
	margin-right: 10px;
	display: flex;
	align-items: center;
}

.spacer {
	flex: 100%;
	height: 5px;
}

.schedule *, .cal-day * {
	background-color: #F8F8F8;
	padding: 5px;
	box-sizing: border-box;
}

.schedule {
	display: grid;
	gap: 1px;
	grid-template-columns: max-content repeat(20, 1fr);
	position: fixed;
	justify-content: space-between;
	margin: 0 5%;
	background-color: #333;
	padding: 1px;
	width: -webkit-fill-available;
	max-height: -webkit-fill-available;
	overflow: scroll;
	border: #333 solid 1px;
	align-content: start;
}

.cal-day {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: 100%;
	background-color: #333;
	gap: 1px;
	padding: 0;
}

.day-label {
	grid-column: span 5;
}

.period-time-label {
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 6;
}

.period {
	text-align: center;
	font-size: 8px;
}

.cal-col {
	min-height: 82px;
	text-align: center;
	vertical-align: bottom;
	padding: 15px;
}

.room-period {
	min-height: 75px;
	min-width: 75px;
	font-size: 10px;
	position: relative;
}

.room-period:hover {
	background-color: #EEEEEE;
	cursor: pointer;
}

.day-period {
	grid-template-rows: repeat(3, 1fr);
}

.blank {
	display: flex;
	flex-direction: column;
	gap: 1px;
	background-color: #333;
	padding: 0;
}

.blank > * {
	height: 100%;
}

.year-select {
  	width: fit-content;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: auto 15px;
    padding: 0 5px;
}

.bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

#print-schedule {
	position: relative;
	float: right;
	text-align: right;
	font-size: 32px;
	padding: 2px 5px;
	cursor: pointer;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
}

#print-schedule:hover {
	background-color: #BEBEBE;
}

.print-key {
	aspect-ratio: 1/1;
	width: 140px;
	white-space: normal;
	border: 1px solid black;
	margin: 0 5px;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
}

.print-key-container {
	margin: 25px 5%;
	justify-content: space-between;
}